body 
{
	width : 90%;
	margin: 0 auto;
	font-family : "Roboto";
	background-color: #F2F2F2;
}

.wrapper 
{
	height: 100%;
	padding: 10px;
	background-color: white;
}

.draggable
{
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 37.5px 37.5px 0 37.5px;
	border-color: #007bff transparent transparent transparent;
	cursor: pointer;
}

#cursor_begin
{
	position: absolute;
	bottom: 0;
	left: 0;
	border-color: #007BFF transparent transparent transparent;
}

#cursor_end
{
	position: absolute;
	bottom: 0;
	right: 0;
	border-color: #FF2A00 transparent transparent transparent;
}