$width: 900px;
$height: 650px;

* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; margin: 0; padding: 0; }  
body { background: #FFF; font: 14px 'ff-meta-serif-web-pro', Georgia; background: #000 url('dark_wall.png'); -webkit-font-smoothing: antialiased; }
.hide { display: none; }

.title { margin-top: 50px; font: 24px/30px 'trajan-pro-3'; color: #E0E0E0; text-align: center; text-shadow: 0 0 3px rgba(0,0,0,.8); }
.episodes { font: 14px/20px 'trajan-pro-3'; text-align: center; color: #7A7A7A; }
.episodes a { color: #CACACA; text-decoration: underline; }

.wrapper { position: relative; width: 1150px; height: $height; margin: 50px auto 100px; background: #fff; box-shadow: 0 0 30px rgba(0,0,0,.8); }
.wrapper:after { content: ''; display: block; clear: both; }
.map { position: relative; float: left; width: $width; height: $height; background: #fff url('map.png') no-repeat; }

.map svg { position: absolute; top: 0; bottom: 0; left: 0; right: 0; }
.map-pt { cursor: pointer; z-index: 10; position: absolute; top: 0; left: 0; width: 12px; height: 12px; margin: -6px 0 0 -6px; border-radius: 100%; border: 2px solid #000; background: #FFF; }
.map-pt-box { display: none; position: absolute; top: -50px; left: 50%; margin-left: -115px; padding: 15px; font-size: 10px; width: 230px; background: rgba(0,0,0,.8); color: #FFF; }
.map-pt-box:after { content: ''; display: block; clear: both; }
.map-pt-name { font: 14px 'trajan-pro-3'; }
.map-pt-box a { color: #FFF; text-decoration: none; }
.map-pt-box a:hover { text-decoration: underline; }
.map-pt-box > figure { float: left; margin: 5px; text-align: center; }
.map-pt:hover { z-index: 30; }
.map-pt:hover > .map-pt-box { display: block; }
.map-pt-box .photo.dead { opacity: .4; }

.timeline { z-index: 20; position: absolute; bottom: 0; left: 0; width: $width; height: 39px; }
.cursor { position: absolute; bottom: 0; left: 0; width: 61px; height: 39px; background: url('cursor_start.png') no-repeat; color: #FFF; text-align: center; line-height: 35px; }
#cursor_end { background-image: url('cursor_end.png'); }



.sidebar { float: right; width: 250px; height: $height; overflow: hidden; background: #1d1c1c url('dark_leather.png'); color: #fff; text-align: left; box-shadow: inset 1px 0 5px rgba(0,0,0,.8); }
.sidebar-filter { height: 49px; border-bottom: 1px solid #090909; box-shadow: inset 0 -1px 1px rgba(255,255,255,.1); }
.sidebar-toggle { display: block; height: 49px; line-height: 49px; border-bottom: 1px solid #090909; box-shadow: 0 2px 4px rgba(0,0,0,.8); color: #BABABA; text-align: center; text-shadow: 0 0 2px rgba(0,0,0,.6);
  background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,.2) 100%); }
.sidebar-toggle:hover { color: #FFF; text-decoration: none; }
.sidebar-values { height: 550px; overflow: auto; }

.sidebar-filter input { width: 100%; height: 49px; padding: 6px 2em 3px; border: 0; background: transparent; font: 14px/40px 'ff-meta-serif-web-pro'; color: #7A7A7A; font-style: italic; }
.sidebar-filter input:focus { outline: none; color: #EFEFEF; }

.sidebar-values label, .cursor { -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; cursor: pointer; }
.sidebar-values input { display: none; }

.sidebar-item-char, .sidebar-item-house { display: block; height: 49px; line-height: 40px; padding: 4px 1em 5px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; border-bottom: 1px solid #090909; box-shadow: inset 0 -1px 1px rgba(255,255,255,.1); text-shadow: 0 0 2px rgba(0,0,0,.6); color: #7a7a7a; }
.sidebar-item-char { padding-left: 3em; }
.sidebar-item-house { height: 60px; line-height: 50px; text-transform: uppercase; font-family: 'trajan-pro-3'; color: #404040; background: -webkit-linear-gradient(top, rgba(0,0,0,.6) 0%,rgba(0,0,0,0) 100%); }
.sidebar input:checked + .sidebar-item-char { background: -webkit-linear-gradient(top, rgba(255,255,255,.1) 0%,rgba(255,255,255,0) 100%); color: #CACACA; }
.sidebar input:checked + .sidebar-item-house { background: -webkit-linear-gradient(top, rgba(0,0,0,.8) 0%,rgba(0,0,0,0) 100%); color: #BABABA; }

.photo { border: 2px solid #333333; border-radius: 100%; box-shadow: 0 0 3px rgba(0,0,0,.4), inset 0 1px 2px rgba(0,0,0,.8); }
.sidebar img { vertical-align: middle; }
.sidebar-item-char img { margin-right: 1em; }
.sidebar-item-house img { margin-right: 1em; height: 50px; }
.sidebar input:not(:checked) + .sidebar-item-char img { border-color: #333333!important; }